<%- include('./_/header'); -%>
<div id="app">

    <%- include('./index/nav'); -%>
    <router-view></router-view>
    <%- include('./index/main'); -%>

    <%- include('./_/forms/site_delete'); -%>
    <%- include('./_/forms/site_change'); -%>

    <%- include('./index/options'); -%>

    <%- include('./index/exit'); -%>



</div>
<%- include('./_/footer'); -%>

